body {
    background-color: #3174f1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

center {
    padding-top: 30px;
}

#title {
    font-family: 'Product Sans', sans-serif;
    font-size: 24px;
    color: #37474f;
}

#inbox-countdown {
    color: #3861ca;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px
}

#google-plus-countdown {
    color: #dd4f43;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px
}

#inbox-logo {
    background-image: url("../img/inbox.png");
}

#google-plus-logo {
    background-image: url("../img/google-plus.png");
}

#google-logo {
    background-image: url("../img/google.png");
    background-size: 70%
}

#google-card {
    width: auto;
    height: 280px;
}

.demo-card-square.mdl-card {
    width: 360px;
    height: 360px;
}

.demo-card-square>.mdl-card__title {
    color: #fff;
    background-color: #f5f5f5;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 480px) {
    #google-logo {
        background-image: url("../img/g.png");
        background-size: 40%;
    }

    #google-card {
        width: 320px;
        height: 320px
    }

    #title {
        font-size: 22px;
    }

    .demo-card-square.mdl-card {
        width: 320px;
        height: 320px;
    }
}